body {
    font-family: 'Times New Roman', Times, serif;
    background: blanchedalmond;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
nav {
    width:95%;
    background: steelblue;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

nav h2 {
    margin: 0;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}

/* HOVER EFFECT */
nav ul li a:hover {
    background: #4CAF50;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

input {
    padding: 10px;
    width: 250px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
}

button:hover {
    background: #4CAF50;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
